// COLORS
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;
$color-sky-d-blue: #007ee6;

$color-red-1: #ff414d;
$color-red-2: #f53844f1;
$color-red-light:#F4CDCD;


$color-pink: #E91E63;
$color-yellow: #FF9800;

$color-white: #fff;
$color-black: #000;

$color-black-transparent: #00000087;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-light-3: #F0F0F0;





$color-grey-dark: #777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;
$color-grey-dark-4:#9E9E9E;
$color-grey-dark-5:#757575;



$color-light-black: #3f3f44;
$color-black-2: #232526;
$color-black-3: #414345;

// color for my website     background-image: -webkit-linear-gradient(320deg,#EF00FF 28%,#125FFD 100%);

// FONT
$font-default-size: 1.6rem;

// BORDER
$border-radius-default: 3px;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 4rem;


$count: 10;
$time: 2; //in seconds
$size: 100;


