/******
@mixin respond($breakpoint) {

    // CONVERTING PIXELS INTO EMS

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; // 1200/16
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; // 900/16
    }

    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; // 600/16
    }

    @if $breakpoint == sm-dev {
        @media only screen and (max-width: 31.25em) { @content }; // 600/16
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; // 1800/16
    } 
}
*****/
@-webkit-keyframes moveToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveToBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveToBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

*,
*::after,
*::before {
  /*now it will work fine on after and before classes*/
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  /*ROOT*/
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem;
}

body {
  font-family: 'Lato', sans-serif;
  /* font-size: 16px; */
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  position: relative;
}

.color_stats {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 1.3rem;
  width: 20rem;
  background-color: grey;
}

.color_stats::after {
  content: "";
  height: 1.3rem;
  width: 80%;
  float: left;
  background-color: #55c57a;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-10rem, -50%);
          transform: translate(-10rem, -50%);
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.indicator {
  cursor: pointer;
}

.card {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.card#card-visitors {
  position: relative;
  width: 300px;
  height: 400px;
  margin: calc((100vh - 400px) / 2) auto;
}

.card#card-visitors input[type="checkbox"]#card-visitors-indicator {
  display: none;
}

.card#card-visitors input[type="checkbox"]#card-visitors-indicator:checked + .header label.indicator {
  top: 30%;
  right: calc(50% - 25px);
  margin: calc(-30% - 25px) calc(50% - 25px) 0 0;
  background-color: transparent;
  -webkit-transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, right 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 0s cubic-bezier(0.4, 0, 0.2, 1) 0.6s, margin 0s cubic-bezier(0.4, 0, 0.2, 1) 0.9s;
  transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, right 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 0s cubic-bezier(0.4, 0, 0.2, 1) 0.6s, margin 0s cubic-bezier(0.4, 0, 0.2, 1) 0.9s;
}

.card#card-visitors input[type="checkbox"]#card-visitors-indicator:checked + .header label.indicator .open {
  opacity: 0;
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}

.card#card-visitors input[type="checkbox"]#card-visitors-indicator:checked + .header label.indicator .close {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.9s;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.9s;
  transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.9s;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.9s;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.9s, -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.9s;
}

.card#card-visitors input[type="checkbox"]#card-visitors-indicator:checked + .header .content .data {
  opacity: 1;
  -webkit-transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.45s;
  transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.45s;
}

.card#card-visitors input[type="checkbox"]#card-visitors-indicator:checked + .header .content .data .graph .vertical .day .line-container {
  max-height: 80%;
  -webkit-transition: max-height 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.9s;
  transition: max-height 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.9s;
}

.card#card-visitors input[type="checkbox"]#card-visitors-indicator:checked + .header .content .float {
  opacity: 1;
  -webkit-transform: scale(10);
          transform: scale(10);
  -webkit-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, opacity 0s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  -webkit-transition: opacity 0s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  transition: opacity 0s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, opacity 0s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, opacity 0s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

.card#card-visitors .header {
  width: 100%;
  height: 60%;
  background-color: #E91E63;
}

.card#card-visitors .header label.indicator {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  top: calc(60% - 25px);
  right: 20px;
  margin: 0;
  border-radius: 100%;
  background-color: #FF9800;
  -webkit-transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, right 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, margin 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, right 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, margin 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

.card#card-visitors .header label.indicator .open {
  position: absolute;
  margin: 11.5px 16px;
  opacity: 1;
  -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
}

.card#card-visitors .header label.indicator .close {
  margin: 12.5px 17.5px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.card#card-visitors .header .content {
  position: relative;
  width: 100%;
  height: 100%;
}

.card#card-visitors .header .content > * {
  color: #FFFFFF;
  font-weight: 500;
}

.card#card-visitors .header .content .data {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #FF9800;
  -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.card#card-visitors .header .content .data .top {
  width: 100%;
  height: 40%;
}

.card#card-visitors .header .content .data .top .title {
  width: 100%;
}

.card#card-visitors .header .content .data .graph {
  position: relative;
  width: calc(100% - 40px);
  height: 60%;
  margin: 0 20px 20px 20px;
}

.card#card-visitors .header .content .data .graph .horizontal {
  width: 100%;
  height: 100%;
}

.card#card-visitors .header .content .data .graph .horizontal div {
  height: 20%;
}

.card#card-visitors .header .content .data .graph .horizontal div hr {
  border: 1px solid #FFFFFF;
  opacity: .25;
}

.card#card-visitors .header .content .data .graph .horizontal div p {
  margin-top: 1px;
  opacity: .7;
  font-size: 13px;
}

.card#card-visitors .header .content .data .graph .vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  margin-left: 10%;
}

.card#card-visitors .header .content .data .graph .vertical .day {
  position: relative;
  width: calc(100% / 14);
  height: 100%;
}

.card#card-visitors .header .content .data .graph .vertical .day .line-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  width: 2px;
  height: 80%;
  max-height: 0;
  bottom: 20%;
  margin: 0 calc((100% - 2px) / 2);
  -webkit-transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.card#card-visitors .header .content .data .graph .vertical .day .line-container .line {
  width: 100%;
  background-color: #FFFFFF;
}

.card#card-visitors .header .content .data .graph .vertical .day p {
  position: absolute;
  height: 20%;
  bottom: 0;
  margin-bottom: -3px;
  opacity: .7;
  font-size: 13px;
}

.card#card-visitors .header .content .data .graph .vertical .day .hidden {
  opacity: 0;
}

.card#card-visitors .header .content .title {
  margin-top: 15px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.card#card-visitors .header .content .date {
  width: 100%;
  opacity: .7;
  text-align: center;
}

.card#card-visitors .header .content .float {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  right: calc(50% - 25px);
  opacity: 0;
  border-radius: 100%;
  background-color: #FF9800;
  -webkit-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity 0s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -webkit-transition: opacity 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: opacity 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity 0s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.card#card-visitors .info {
  width: calc(100% - 40px);
  height: calc(40% - 80px);
  padding: 40px 20px;
  color: #9E9E9E;
}

.card#card-visitors .info .counter {
  margin-top: 8px;
  color: #212121;
  font-size: 45px;
  font-weight: 400;
  line-height: 40px;
}

.card#card-visitors .info .counter .unit {
  font-size: 15px;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc(( 100% - 6rem ) / 2);
}

.row .col-1-of-3 {
  width: calc(( 100% - 2 * 6rem ) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * (( 100% - 2 * 6rem ) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc(( 100% - 3 * 6rem ) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * (( 100% - 3 * 6rem ) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * (( 100% - 3 * 6rem ) / 4) + 2 * 6rem);
}
/*# sourceMappingURL=main.css.map */